body{
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

#centerContent{
    margin: 0 auto;
    padding: 20px;
    width: 500px;
    background-color: lightblue;
    
}

.errorMessage{
    font-weight: bold;
    background-color: yellow;
    color: red;
}

.article {
    border: solid blue 2px;
    margin-bottom: 40px;
}

.article h1 {
    font-size:18px;
}

.article h2 {
    font-size: 14px;
}