{% extends "master.html.twig" %}

{% block title %} E-Shop{% endblock %}

{% block head %}   
 
{% endblock %}

{% block content %}
    <div id="centerContent">
        <h1>todo</h1>
        your can <a href="/login">Log in</a> or <a href="/logout">Log out</a>
    </div>
{% endblock %}