{% extends "master.html.twig" %}

{% block title %}Sign In {% endblock %}

{% block content %}

    <div id="centerContent">
        {% if fbUser or user %}
            <h1>"You are already logged in"</h1>
            <a  href="/">Logout</a> "OR"
            <a  href="/">Continue</a>
        {% else %}
            
            {% if loginForm %}
                <h1>"You are now logged In"</h1>
                <a href="/">Continue</a>
            {% else %}
                
                <div >
                    {% if loginFailed %}
                        <h4 style="color:red; font-size: 12px;">Login Failed</h4>
                    {% endif %}

                    <form action="/login">
                        <h2 >Sign In</h2>
                        Email: <input type="email" name="email" class="form-control" aria-describedby="basic-addon1" required>     
                        <br/>
                        Password: <input type="password" name="password" class="form-control" aria-describedby="basic-addon3" required >

                        <br/>
                        <button  type="submit">Sign In</button>
                    </form>
                    <br>
                    <a href="{{loginUrl}}"><img src="/images/facebook.png"></a>
                    
                    
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

