{% extends "master.html.twig" %}

{% block title %}Sign  Out{% endblock %}


{% block content %}
    <div id="centerContent">
        <h1>You are now signed out</h1>
         <a  href="/">Continue</a>
               
    </div>
{% endblock %}
