{% extends "master.html.twig" %}

{% block title %} Add category {% endblock %}

{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        Name: <input type="text" name="name" value="{{v.name}}"><br>
        image: <input type ="file" name="image"><br>
     
        <input type="submit" value="add product">
    </form>

{% endblock %}
