body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

#centerContent {
    margin: 0 auto;
    padding: 20px;
    width: 500px; /* 960px is standard */
    background-color: lightblue;
}

.errorMessage {
    font-weight: bold;
    background-color: yellow;
    color: red;
}


    table, th, tr, td {
        border: 1px solid black;
	border-collapse: collapse;
    
}


table {
        margin: auto;
    width: 500px;
}
