{% extends "master.html.twig" %}

{% block title %}slimshout{% endblock %}

{% block content %}
<table border="1">
        <tr><th>#</th><th>author id</th><th>message</tr>
                       
                    {% for s in shoutlist %}
                     
                    <tr>
                        <td>{{s.id}}</td>            
                        <td>{{s.authorId}}</td>
                        <td>{{s.message}}</td>
                    </tr> 
             
            {% endfor %}       
</table>
{% endblock content %}

