{% extends "master.html.twig" %}

{% block title %}slimshout homepage{% endblock %}

{% block content %}
    <div id="centerContent">
        <div>
            
                You can <a href="/login">login</a> or <a href="/register">register</a> or <a href="/logout">logout</a>
            
        </div>
    {% endblock content %}
