{% extends "master.html.twig" %}

{% block content %}

    {% if error %}
        <p>Invalid login credentials, try again or <a href="/register">register</a></p>
    {% endif %}

    <form method="post">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>      
        <input type="submit" value="Login">
    </form>

{% endblock content %}
