{% extends "master.html.twig" %}

{% block headAdd %}
        <script>
            $(document).ready(function() {
                $('input[name=username]').keyup(function() {
                    var email = $('input[name=username]').val();
                    $('#isTaken').load("/ajax/isusernameregistered/" + username);
                });
            });
        </script>
{% endblock headAdd %}

{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        <span class="errorMessage" id="isTaken"></span><br>
        Username: <input type="text" name="username" value="{{v.username}}"><br>
        Password: <input type="password" name="pass1"><br>
        Password (repeated): <input type="password" name="pass2"><br>
        Image: <input type="file" name="productImage">
        <img src="/{{v.imagePath}}" width="100"><br>
        <input type="submit" value="Register">
    </form>

{% endblock content %}
