{% extends "master.html.twig" %}

{% block title %}Shout list{% endblock %}

{% block headAdd %}
    <script>
        $(document).ready(function () {
            $("select").change(function () {
                var username = $(this).children("option:selected").val();
                alert("You have selected  - " + username);
                window.location=("/ajax/loadshouts/by/" + username);
            });
        });
    </script>
{% endblock headAdd %}

{% block content %}
    <p><a href="/shouts/add">add shout</a></p>

    <select >
        <option value="please_choose">--Please choose--</option>
        {% for u in userlist %}
            <option value="{{u.username}}" >{{u.username}}</option>      
        {% endfor %}
    </select>
    <br>
     <span class="errorMessage" id="isTaken"></span><br>
    <br>

    <table border="1">
        <tr><th>#</th><th>author name</th><th>author image</th><th>message</tr>
                {% for u in userlist %}        
                    {% for s in shoutlist %}
                        {% if s.authorId == u.id %}
                    <tr>
                        <td>{{s.id}}</td>            
                        <td>{{u.username}}</td>
                        <td><img src="/{{u.imagePath}}" width="50"></td> 
                        <td>{{s.message}}</td>
                    </tr> 
                {% endif %}
            {% endfor %}
        {% endfor %}

    </table>
{% endblock content %}
