{% extends "master.html.twig" %}

{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        message: <textarea name="message">{{v.description}}</textarea><br>             
        <input type="submit" value="add shout">
    </form>

{% endblock content %}
